<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Campus Marketplace</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="../static/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/owl/owl.theme.default.min.css">

    <!-- Custom Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!--<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">

    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script type='text/javascript' src="../static/js/home.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <!--Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Campus Marketplace</a>
            </div>
            <div style="margin-right:20px;" class="navbar-form navbar-right">
                <button type="button" class="btn btn-primary text-justify text-uppercase" data-toggle="modal" data-target="#myModal">My Account</button>
                <button type="button" class="btn btn-primary text-justify text-uppercase" data-toggle="modal" data-target="#myModal">Sign Out</button>
            </div>
            <!--Collect the nav links, forms, and other content for toggling -->

        </div>
        <!-- /.container-fluid -->
    </nav>



    <div id="requestService" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <center>Add a Service</center>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="request-form" action="/login" method="POST" role="form" style="display: block;">

                                    <input type="text" style="margin-bottom:25px" name="title" class="form-control" placeholder="Title" required="required" maxlength="50" id="title">

                                    <input type="number" style="margin-bottom:25px" min="1" step="any" name="price" class="form-control" placeholder="Price" required="required" id="price">

                                    <textarea class="form-control" style="margin-bottom:25px" id="description" rows="3" placeholder="Description" name="desc" required="required" maxlength="600"></textarea>

                                    <input type="text" style="margin-bottom:25px" min="1" step="any" name="address" class="form-control" placeholder="Address" required="required" id="address">


                                    <div class="form-group" style="margin-bottom:25px">
                                        <select name="category" class="form-control" placeholder="Category" id="sel1">
                                            <option>Category</option>
                                            <option>Transportion</option>
                                            <option>Food</option>
                                            <option>Tutoring</option>
                                            <option>Fashion</option>
                                            <option>Deliveries</option>
                                            <option>Technical Help</option>
                                            <option>Other</option>
                                          </select>
                                    </div>
                                    <label class="btn btn-default btn-file" style="margin-bottom:25px">
                                            Select Picture to Upload <input type="file" style="display: none;">
                                        </label>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="request" style="margin-bottom:25px"> Request


                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="provide"> Provide

                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Header -->

    <div>
        <div class="container">
            <!-- Jumbotron -->
            <div class="jumbotron">
                <h1>Welcome @</h1>
                <!--Display the persons name here-->
                <p class="lead">Find Your Service, Request Your Service, Fufill Your Service</p>
                <p><a class="btn btn-lg btn-success " data-target="#requestService" data-toggle="modal" role="button" name="show" id="show" style="margin-bottom: 25px">Add A New Service</a>
                    
                    <select class="form-control " placeholder="Category" id="sel1" name=sel1>
                    <option>Category</option>
                    <option>Food</option>
                    <option>Tutoring</option>
                    <option>Fashion</option>
                    <option>Deliveries</option>
                    <option>Technical Help</option>
                    <option>Other</option>
                    </select>
                <a class="btn btn-lg btn-info" role="button" name="filter" id="filter" value="Filter" style="margin-top: 25px">Filter</a>
                    </p>
            </div>
        </div>





        <!----------------------------GRID-------------------------------->


        <div class="row">
            <div class=" panel-login">
                <div class="panel-heading panel panel-login">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Request</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Provide</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <form id="login-form" action="/login" method="POST" role="form" style="display: block;">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                    <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <form id="register-form" action="/register" method="POST" role="form" style="display: block;">


                        <div class="container">
                            <div class="row">

                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                        <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                      </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>
                                <div class="col-md-3">
                                    <a target="_blank" href="fjords.jpg">
                                    <img src="../static/img/Sell.png" alt="Fjords" width="300" height="200">
                                </a>
                                    <div class="desc">Add a description of the image here</div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>










        <!-- Site footer -->
        <footer class="footer">
            <p>&copy; Campus Marketplace 2017</p>
        </footer>

        <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/owl/owl.carousel.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".owl-carousel").owlCarousel();
            });

            $('.owl-carousel').owlCarousel({
                rtl: true,
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        </script>
</body>


</html>
