<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>Campus Marketplace- Web 2017</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <!-- Bootstrap Core CSS -->
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="services.js"></script>
        
        <!-- Theme CSS -->
        <link href="../static/css/freelancer.css" rel="stylesheet">
        
        <!-- Custom Fonts -->
        <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
        <nav id = "mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container-fluid">
         <!--Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">Campus Marketplace</a>
        </div>
        <div class="navbar-form navbar-right">
            <button id="sign" class="btn btn-primary text-justify text-uppercase">Log In</button>  
            <!--Edit this so it knows when someone it logged in-->
        </div>
        <!--Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="services.html">Services</a>
                </li>
                <li class = "page-scroll">
                    <a href="#about">About Us</a>
                </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
            <header class="success" id="provide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Add Services?</h2>
                            <hr class="star-light">
                        </div>
                    </div>
                    <div class="row">
                            <p align:center>
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                
                                
                            <label for="title" class="col-form-label col-form-label-lg">Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Title" required="required" maxlength="50" id="title">
                            
                            
                            <label for="price" class="col-form-label col-form-label-lg">Price</label>
                            <input type="number" min="1" step="any" name="price" class="form-control" placeholder="Price" required="required" id="price">
                            
                            
                            <div class="form-group">
                                <label for="description" class="col-form-label col-form-label-lg">Description</label>
                                <textarea class="form-control" id="description" rows="3" placeholder="Description" required="required" maxlength="100"></textarea>
                            </div>
                            
                            <div class="form-group">
                              <label for="sel1">Select Category:</label>
                              <select class="form-control" placeholder="Category" id="sel1">
                                <option>Category</option>
                                <option>Transportion</option>
                                <option>Food</option>
                                <option>Tutoring</option>
                                <option>Fashion</option>
                                <option>Deliveries</option>
                                <option>Technical Help</option>
                                <option>Other</option>
                              </select>
                            </div>
                                                        
                            <button id = "provideSubmit" disabled class="btn btn-success login" style = "background-color:#18BC9C" type="submit"> Submit</button>
                            <div id="output1"></div>
                        </div>
                    </div>
                </div>
            
            
                
            <!-- /.container-fluid -->
        
        
    </body>
</html>