<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    
 
    <!-- Bootstrap -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/docs.css" rel="stylesheet">
    <link href="../static/css/bootstrap-social.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="signup.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <link href="../static/css/freelancer.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <li style="background-image: url(&quot;https://upload.wikimedia.org/wikipedia/commons/0/0b/Burruss_Hall,_Virginia_Tech.JPG&quot;); height: 100%; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
    <div class="login-container" style= "background: #fff;">
			<div class="row main">
				<div class="main-login main-center">
				
					<form class="" method="post" action="#">
						
						<div class="form-group text required">
        			<label class="control-label" for="first-name">First Name</label>
        			<input type="text" name="first_name" class="form-control" placeholder="Enter first name" required="required" maxlength="100" id="first-name">
        		</div>
        		<div class="form-group text required">
        			<label class="control-label" for="last-name">Last Name</label>
        			<input type="text" name="last_name" class="form-control" placeholder="Enter last name" required="required" maxlength="100" id="last-name">
        		</div>
        		<div class="form-group email required"><label class="control-label" for="email">Email</label><input type="email" name="email" class="form-control" placeholder="Enter @tjhsst.edu email address" required="required" maxlength="254" id="email"></div>
        		<div class="form-group text required"><label class="control-label" for="username">Username</label><input type="text" name="username" class="form-control" placeholder="Enter a username" required="required" maxlength="100" id="username"></div><div class="form-group password required"><label class="control-label" for="password">Password</label><input type="password" name="password" class="form-control" placeholder="Enter a password" required="required" id="password"></div>    </fieldset>
						
						<div class="form-group ">
							<button id="signup" class="btn btn-primary btn-lg btn-block">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
  </div>
  </body>
</html>