<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Campus Marketplace- Web 2017</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../static/css/js/map.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="services.js"></script>

    <!-- Theme CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <!--Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">Campus Marketplace</a>
            </div>
            <div class="navbar-form navbar-right">
                <button id="sign" class="btn btn-primary text-justify text-uppercase">Log In</button>
                <!--Edit this so it knows when someone it logged in-->
            </div>
            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="services.html">Services</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header class="success" id="provide">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 text-left">
                    <h2>Service</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="container">
                <p align:left>
                    <div class="col-lg-8 col-lg-offset- text-left">
                        <p><label for="Service" class="col-lg-19 col-form-label col-form-label-lg"><font size="+3">Service Title</font></label></p>
                        <div>
                            <p style="float: left;"><img src="../static/img/n.png" height="400px" width="400px" border="1px"></p>
                            <p style="font-size: 100%">
                                <font size="+3"><b>Offered by: </b><a href="http://www.hyperlinkcode.com/"> User</a></font>
                            </p>
                        </div>

                        <div class="form-group">
                            <p><label for="description"><b>Description: </b><p style="font-size:100%;">Text</p></label></p>
                            <p><b>Market price: </b> $Insert Number headass.99</p>
                        </div>
                        <div class="form-group">
                            <p><label for="description"><b>Description: </b><p style="font-size:100%;">Text</p></label></p>
                            <p><b>Offered price: </b> $Insert Number headass.99</p>
                        </div>
                    </div>
            </div>
            <p><label for="Directions" class="col-lg-19 col-form-label col-form-label-lg"><font size="+3">Directions:</font></label></p>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Driving Time</div>
                            <div class="panel-body" id="DrivingTime"></div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Public Transportation Time</div>
                            <div class="panel-body" id="TransitTime"></div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Walking Time</div>
                            <div class="panel-body" id="WalkingTime"></div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Bicycling Time</div>
                            <div class="panel-body" id="BicyclingTime"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Driving Distance</div>
                            <div class="panel-body" id="DrivingD"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Public Transportation Distance</div>
                            <div class="panel-body" id="TransitD"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Walking Distance</div>
                            <div class="panel-body" id="WalkingD"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">Bicycling Distance</div>
                            <div class="panel-body" id="BicyclingD"></div>
                        </div>
                    </div>
                </div>
            </div>
            <p><span>
                        <button id = "accept" disabled class="btn btn-info login" width = "100" height = "50" style = "background-color:#18BC9C" type="accept"> Accept</button>
                    <button id = "decline" disabled class="btn btn-info login" style = "background-color:#18BC9C" type="decline"> Decline</button>
                    </span></p>
        </div>



        <!-- /.container-fluid -->


</body>

</html>